[Desktop Entry]
Name=screenshot
Exec=/usr/lib/ai-os/apps/screenshot/app.sh
Type=Application
Categories=Utility;
X-AIOS-ThemeAware=true
X-AIOS-LocaleAware=true
X-AIOS-AccessibilityAware=true
