[Desktop Entry]
Name=image-viewer
Exec=/usr/lib/ai-os/apps/image-viewer/app.sh
Type=Application
Categories=Utility;
X-AIOS-ThemeAware=true
X-AIOS-LocaleAware=true
X-AIOS-AccessibilityAware=true
