[Desktop Entry]
Name=bluetooth-manager
Exec=/usr/lib/ai-os/apps/bluetooth-manager/app.sh
Type=Application
Categories=Utility;
X-AIOS-ThemeAware=true
X-AIOS-LocaleAware=true
X-AIOS-AccessibilityAware=true
