[Desktop Entry]
Name=calculator
Exec=/usr/lib/ai-os/apps/calculator/app.sh
Type=Application
Categories=Utility;
X-AIOS-ThemeAware=true
X-AIOS-LocaleAware=true
X-AIOS-AccessibilityAware=true
